name: CI

on:
  push:
    branches: 
      - develop
      - documentation
  pull_request:
    branches: [master, develop]

jobs:
  test:
    name: Test & Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - run: npm audit
      